ngx-dropzone,
.custom-dropzone {
  margin: 0 20px 20px 20px;
}

.custom-dropzone {
  height: 250px;
  color: rgb(85, 159, 255);
  border: 2px dashed rgb(85, 159, 255);
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px 0 20px;
  background-color: #f0f3f5;
}