.table {
    text-align: center !important;
    border: 2px;
    width: 100%;
    margin-bottom: 1rem;
    color: #23282c;
    border-collapse: collapse;
    
}

table thead {
    background-color: #20a8d8;
    color: #000;
}

table thead tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;

}

table thead tr th {
    border-bottom-width: 2px;
    vertical-align: bottom;
    border-bottom: 2px solid #c8ced3;
    border: 1px solid #c8ced3;
    padding: 0.75rem;
    text-align: inherit;
    display: table-cell;
}

table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tbody tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table tbody tr td {
    border: 1px solid #c8ced3;
    padding: 0.75rem;
    vertical-align: top;
    display: table-cell;
}

table tbody tr td button {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    color: #fff;
}

table tbody tr td button.btn-primary {
    background-color: #20a8d8;
    border-color: #20a8d8;
}

table tbody tr td button.btn-danger {
    background-color: #f86c6b;
    border-color: #f86c6b;
}

table tbody tr td button i {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

table tbody tr td button i.fa-edit {
    background-image: url('../img/icons/edit-11-16.png');
}

table tbody tr td button i.fa-trash {
    background-image: url('../img/icons/trash-9-16.png');
}

table tbody tr td button i.fa-edit::before {
    content: "\f044";
}

table tbody tr td button i.fa-trash::before {
    content: "\f1f8";
}

table tbody tr td .pretty {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    line-height: 1;
}

table tbody tr td .pretty input {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    font: 400 13.3333px Arial;
}

table tbody tr td .pretty i {
    color: #fff;
    opacity: 1;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    font-size: 1em;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    left: 0;
    z-index: 1;
    text-align: center;
    line-height: 1;
    top: calc((0% - (100% - 1em)) - 8%);
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    border: 1px solid transparent;
    content: url('../img/icons/check-mark-12-16.png');
}

table tbody tr td .pretty label {
    position: initial;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    text-indent: 1.5em;
    min-width: 0 !important;
    margin-bottom: 0.5rem;
    opacity: 1;
}

table tbody tr td .pretty label::after {
    background-color: #5cb85c !important;
    border-radius: 100%;
    content: "";
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
}

table tbody tr td .pretty label.none::after {
    background-color: transparent !important;
    border-radius: 100%;
    content: "";
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border: 1px solid #5cb85c;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
}

// @media print 
// {
//    @page
//    {
//     size: "A4";
//     size: landscape;
//   }
// }