<div id="page_404">
  <section id="not-found">
    <div id="title">404 Error Page</div>
    <div class="circles">
      <p>404<br>
        <small>PAGE NOT FOUND</small>
      </p>
      <span class="circle big"></span>
      <span class="circle med"></span>
      <span class="circle small"></span>
    </div>
  </section>
  <div style="text-align: center;">
    <button (click)="back()">Go back</button>
    <div class="subtitle">After <span style="color: red;">{{time}}</span> seconds, the system will automatically switch
      back to the home page. </div>
  </div>
</div>