<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row" style="align-items: center;">
        <div class="col-md-3 col-lg-2">
          <strong>Article List</strong>
        </div>
        <div class="col-md-6 col-lg-2">
          <input type="text" class="form-control" name="search" placeholder="Enter Article Data..." [(ngModel)]="text"
            (keyup)="getDataPaginations()">
        </div>
        <div class="col-lg-2 col-md-none p-0">
          <div class="select-list">
            <ng-select2 width="100%" [data]="articleCateList" [(ngModel)]="articleCateID" name="articleCateList"
              (ngModelChange)="changeArticleCateID($event)">
            </ng-select2>
          </div>
        </div>
        <div class="col-lg-2 col-md-none">
          <div class="select-list">
            <ng-select2 width="100%" [data]="articleList" [(ngModel)]="article_Name" name="articleList">
            </ng-select2>
          </div>
        </div>
        <div class="col-lg-2 col-md-none p-0">
          <button type="button" class="btn btn-query1 btn-success" (click)="searchDataPaginations()">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
        <div class="col-md-3 col-lg-2">
          <!-- Button Add -->
          <button type="button" class="btn btn-sm btn-primary float-right height34px" (click)="addNew()"
            style="float: right;" tooltip="Thêm mới bài viết">
            <i class="fa fa-plus"></i> Add new
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12" style="margin-bottom: 15px; padding: 0;">
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="exportExcel(1)" tooltip="Xuất file Excel">
          <i class="fa fa-file-excel-o"></i> ExportAspose
        </button>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="removeMulti()"
          tooltip="Xóa nhiều bài viết">
          <i class="fa fa-trash fa-lg"></i> Delete
        </button>
      </div>
      <!-- Article Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center" style="word-break: break-all;">
          <thead>
            <tr>
              <th>#</th>
              <th>Article Cate ID</th>
              <th>Article ID</th>
              <th>Article Name</th>
              <th>Content</th>
              <th>Update By</th>
              <th>Update Time</th>
              <th>Status</th>
              <th colspan="2">Action</th>
              <th>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" id="checkAll" [(ngModel)]="checkboxAll"
                    (change)="checkAll($event)">
                  <div class="state p-warning" id="custom">
                    <i class="icon fa fa-check"></i>
                    <label class="custom-control-label" for="checkAll"></label>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles; let i=index">
              <td>{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
              <td>{{ article.article_Cate_ID }}</td>
              <td>{{ article.article_ID }}</td>
              <td>{{ article.article_Name}}</td>
              <td style="width: 25%">{{ article.content }}</td>
              <td>{{ article.update_By }}</td>
              <td>{{ article.update_Time | date: 'MM/dd/yyyy, HH:mm:ss' }}</td>
              <td>
                <div class="pretty p-icon p-round p-jelly p-bigger">
                  <input type="checkbox" class="custom-control-input" [id]="article.article_ID"
                    [checked]="article.status" (change)="changeStatus(article)">
                  <div class="state p-success">
                    <i class="icon fa fa-check"></i>
                    <label></label>
                  </div>
                </div>
              </td>
              <td class="w-1rem">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="edit(article)"
                    tooltip="Chỉnh sửa bài viết">
                    <i class="fa fa-edit fa-lg"></i>
                  </button>
                </div>
              </td>
              <td class="w-1rem">
                <button type="button" class="btn btn-sm btn-danger" (click)="remove(article)" tooltip="Xóa bài viết">
                  <i class="fa fa-trash fa-lg"></i>
                </button>
              </td>
              <td>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" [id]="article.article_ID"
                    [(ngModel)]="article.checked" (change)="checkElement()">
                  <div class="state p-warning">
                    <i class="icon fa fa-check"></i>
                    <label class="custom-control-label" for="{{article.article_ID}}"></label>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="articleAll.length === 0">
              <td colspan="100%" class="table-warning text-center font-weight-bold"> NO DATA! </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div id="pagination" *ngIf="pagination.totalPage > 1">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
        </pagination>
        <div id="itemRight">
          <p *ngIf="pagination.totalCount >= (pagination.pageSize * pagination.currentPage)">
            Showing {{pagination.pageSize * pagination.currentPage}} in {{pagination.totalCount}} items
          </p>
          <p *ngIf="pagination.totalCount < (pagination.pageSize * pagination.currentPage)">
            Showing {{pagination.totalCount}} in {{pagination.totalCount}} items
          </p>
        </div>
      </div>
    </div>
  </div>
</div>