// Here you can add other styles
body.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll !important;
}

.mr-30 {
    margin-right: 30px !important;
}

/*#region CustomMenuActive*/
.sidebar .nav-link.active {
    color: #fff;
    background: #20a8d8;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff;
}

table.table thead {
    background-color: #20a8d8;
    color: #fff;
}
.menu-margin a {
    padding-left: 40px !important;
}

.height34px {
  height: 34px;
}

.select2-selection--single {
    height: 34px!important;
}

.select2-selection--single .select2-selection__arrow {
    height: 30px !important;
}

@media screen and (max-width: 992px) {
    .col-md-none {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-none {
        display: none;
    }
}
/*#endregion CustomMenuActive*/

/*#pretty checkbox*/
.pretty .state label {
    min-width: 0 !important;
}
/*#pretty checkbox*/

/*#snotify*/
.snotifyToast__title {
    font-size: 1rem !important;
}
/*#snotify*/

/*#Custom style tooltip*/
.tooltip-inner {
  background-color: #009688;
  color: #fff;
  white-space: nowrap;
}
.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
  border-top-color: #009688;
}
.tooltip.bottom .tooltip-arrow:before,
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #009688;
}
.tooltip.left .tooltip-arrow:before,
.tooltip.left .tooltip-arrow {
  border-left-color: #009688;
}
.tooltip.right .tooltip-arrow:before,
.tooltip.right .tooltip-arrow {
  border-right-color: #009688;
}
/*#Custom style tooltip*/

/*#Custom style pagination*/
#pagination pagination {
  float: left;
}

#pagination #itemRight {
  float: right;
  line-height: 2.5;
  font-weight: bold;
  display: flex;
}

#pagination #itemRight input {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  text-align: center;
}
/*#Custom style pagination*/

table thead th .pretty #custom label::before {
  background-color: #fff;
}

// Outline Model
.modal .close.pull-right {
  outline: none;
}

// Image Avatar
.navbar-nav img.img-avatar {
  width: 45px !important;
  height: 45px !important;
}