// Here you can add other styles
body.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll !important;
}

.mr-30 {
    margin-right: 30px !important;
}

/*#region CustomMenuActive*/
.sidebar .nav-link.active {
    color: #fff;
    background: #20a8d8;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff;
}

table.table thead {
    background-color: #20a8d8;
    color: #fff;
}
.menu-margin a {
    padding-left: 40px !important;
}

.height34px {
  height: 34px;
}

.select2-selection--single {
    height: 34px!important;
}

.select2-selection--single .select2-selection__arrow {
    height: 30px !important;
}

@media screen and (max-width: 992px) {
    .col-md-none {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-none {
        display: none;
    }
}
/*#endregion CustomMenuActive*/

/*#pretty checkbox*/
.pretty .state label {
    min-width: 0 !important;
}
/*#pretty checkbox*/

/*#snotify*/
.snotifyToast__title {
    font-size: 1rem !important;
}
/*#snotify*/

/*#animation*/
@-webkit-keyframes bounceInLeft2 {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft2 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(3000px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.animate__bounceInLeft2 {
  -webkit-animation-name: bounceInLeft2;
  animation-name: bounceInLeft2;
}
/*#animation*/
