<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row" style="align-items: center;">
        <div class="col-md-3 col-lg-2">
          <strong>ProductCate List</strong>
        </div>
        <div class="col-md-6 col-lg-3">
          <input type="text" class="form-control" name="search" placeholder="Enter Product Category Data..."
            [(ngModel)]="text" (keyup)="getDataPaginations()">
        </div>
        <div class="col-md-3 col-lg-7">
          <!-- Button Add -->
          <button type="button" class="btn btn-sm btn-success float-right" (click)="success()">
            Success
          </button>
          <button type="button" class="btn btn-sm btn-danger float-right mr-2" (click)="html()">
            Error
          </button>
          <button type="button" class="btn btn-sm btn-warning float-right mr-2" (click)="sendMail()">
            <i class="fa fa-envelope-o"></i> SendMail
          </button>
          <button type="button" class="btn btn-sm btn-success float-right mr-2" (click)="export()">
            <i class="fa fa-file-excel-o"></i> Export
          </button>
          <button type="button" class="btn btn-sm btn-success float-right mr-2" (click)="exportAspose(1)">
            <i class="fa fa-file-excel-o"></i> ExportAspose
          </button>
          <button type="button" class="btn btn-sm btn-warning float-right mr-2" (click)="exportAspose(2)">
            <i class="fa fa-file-pdf-o"></i> Pdf
          </button>
          <button type="button" class="btn btn-sm btn-success float-right mr-2" (click)="importExcelModel.show()">
            <i class="fa fa-file-excel-o"></i> Import
          </button>
          <button type="button" class="btn btn-sm btn-primary float-right mr-2" (click)="addOrEditProductCateModal.show()"
            (click)="cancel()" (click)="setFlag(0)">
            <i class="fa fa-plus"></i> Add new
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Form Search -->
      <!-- ProductCate Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>ProductCate ID</th>
              <th>ProductCate Name</th>
              <th>Position</th>
              <th>Update By</th>
              <th>Update Time</th>
              <th>Status</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productCate of productCates; let i=index">
              <td>{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
              <td>{{ productCate.product_Cate_ID }}</td>
              <td>{{ productCate.product_Cate_Name}}</td>
              <td>{{ productCate.position }}</td>
              <td>{{ productCate.update_By }}</td>
              <td>{{ productCate.update_Time | date: 'MM/dd/yyyy, HH:mm:ss' }}</td>
              <td>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input"
                    [id]="productCate.product_Cate_ID" [checked]="productCate.status"
                    (change)="changeStatus(productCate)">
                    <div class="state p-success">
                      <i class="icon fa fa-check"></i>
                      <label></label>
                  </div>
                </div>
              </td>
              <td class="w-1rem">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="setFlag(1)"
                    (click)="addOrEditProductCateModal.show()" (click)="edit(productCate)">
                    <i class="fa fa-edit fa-lg"></i>
                  </button>
                </div>
              </td>
              <td class="w-1rem">
                <button type="button" class="btn btn-sm btn-danger" (click)="remove(productCate)">
                  <i class="fa fa-trash fa-lg"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="productCates.length === 0">
              <td colspan="100%" class="table-warning text-center font-weight-bold"> NO DATA! </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div class="d-flex" *ngIf="pagination.totalPage > 1">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5></pagination>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
<div #addOrEditProductCateModal="bs-modal" bsModal class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form #addProductCateForm="ngForm">
        <div class="modal-header">
          <strong>{{flag === 0 ? 'New' : 'Edit'}} Product Category</strong>
          <button type="button" style="outline: none;" class="close pull-right" aria-label="Close"
            (click)="addOrEditProductCateModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Product Cate Name</label>
            <input type="text" class="form-control" name="Product_Cate_Name" required
              [(ngModel)]="productCate.product_Cate_Name">
          </div>
          <div class="form-group">
            <label>Position</label>
            <input type="number" class="form-control" name="position" required [(ngModel)]="productCate.position">
          </div>
          <div class="form-group">
            <label>Status</label>
            <input type="checkbox" style="margin-left: 10px;" name="status" [(ngModel)]="productCate.status">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addOrEditProductCateModal.hide()">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="addOrEditProductCateModal.hide()" (click)="save()" 
          [disabled]="addProductCateForm.invalid">
            {{flag === 0 ? 'Add' : 'Save'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modals Import Excel -->
<div #importExcelModel="bs-modal" bsModal class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form #importExcel="ngForm">
        <div class="modal-header">
          <strong>Import Excel Product Category</strong>
          <button type="button" style="outline: none;" class="close pull-right" aria-label="Close"
            (click)="importExcelModel.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: red;">* Please select a file '.xlsx' or '.xlsm'
            <a href="javascript:;" (click)="downloadExcelTemplate()">follow this form here</a>
          </p>
          <div class="form-group">
            <div class="custom-file b-form-file">
              <label data-browse="Browse" class="custom-file-label">
                <p *ngIf="fileImportExcel === null">Choose a file...</p>
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                       type="file" (change)="onSelectFile($event, 2)" style="line-height: 1 !important; outline: none;"
                       [ngClass]="(fileImportExcel !== null) ? 'opacity1' : 'opacity0'">
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="importExcelModel.hide()">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="importExcelModel.hide()" (click)="import()"
          [disabled]="fileImportExcel === null">
            Import
          </button>
        </div>
      </form>
    </div>
  </div>
</div>