<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row" style="align-items: center;">
        <div class="col-md-3 col-lg-2">
          <strong>ProductCate List</strong>
        </div>
        <div class="col-md-6 col-lg-3">
          <input type="text" class="form-control" name="search" placeholder="Enter Product Category Data..."
            [(ngModel)]="text" (keyup)="getDataPaginations()">
        </div>
        <div class="col-md-3 col-lg-7">
          <!-- <button type="button" class="btn btn-sm btn-warning float-right mr-2" (click)="sendMail()">
            <i class="fa fa-envelope-o"></i> SendMail
          </button> -->
          <button type="button" class="btn btn-sm btn-primary float-right" tooltip="Thêm mới danh mục sản phẩm"
            (click)="[addOrEditProductCateModal.show(), cancel(), setFlag(0)]">
            <i class="fa fa-plus"></i> Add new
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12" style="margin-bottom: 15px; padding: 0;">
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="export()" tooltip="Xuất file Excel Epplus">
          <i class="fa fa-file-excel-o"></i> ExcelEPPlus
        </button>
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="exportAspose(1)" tooltip="Xuất file Excel Aspose">
          <i class="fa fa-file-excel-o"></i> ExcelAspose
        </button>
        <button type="button" class="btn btn-sm btn-warning mr-2" (click)="exportAspose(2)" tooltip="Xuất file PDF Aspose" style="color: white;">
          <i class="fa fa-file-pdf-o"></i> PdfAspose
        </button>
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="importExcelModel.show()" tooltip="Thêm dữ liệu từ file Excel">
          <i class="fa fa-file-excel-o"></i> Import
        </button>
        <button type="button" class="btn btn-sm btn-primary mr-2" printSectionId="dataTable" tooltip="In dữ liệu"
          ngxPrint printTitle="Product Category" styleSheetFile="../../../../assets/scss/_table.scss" *ngIf="productCateAll.length > 0">
          <i class="fa fa-print"></i> Print
        </button>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="removeMulti()" tooltip="Xóa nhiều danh mục sản phẩm">
          <i class="fa fa-trash fa-lg"></i> Delete
        </button>
      </div>
      <!-- ProductCate Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>ProductCate ID</th>
              <th>ProductCate Name</th>
              <th>Position</th>
              <th>Update By</th>
              <th>Update Time</th>
              <th>Status</th>
              <th colspan="2">Action</th>
              <th>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" id="checkAll"
                    [(ngModel)]="checkboxAll" (change)="checkAll($event)">
                  <div class="state p-warning" id="custom">
                    <i class="icon fa fa-check"></i>
                    <label class="custom-control-label" for="checkAll"></label>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productCate of productCates; let i=index">
              <td>{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
              <td>{{ productCate.product_Cate_ID }}</td>
              <td>{{ productCate.product_Cate_Name}}</td>
              <td>{{ productCate.position }}</td>
              <td>{{ productCate.update_By }}</td>
              <td>{{ productCate.update_Time | date: 'MM/dd/yyyy, HH:mm:ss' }}</td>
              <td>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" [id]="productCate.product_Cate_ID"
                    [checked]="productCate.status" (change)="changeStatus(productCate)">
                  <div class="state p-success">
                    <i class="icon fa fa-check"></i>
                    <label></label>
                  </div>
                </div>
              </td>
              <td class="w-1rem">
                <button type="button" class="btn btn-sm btn-primary"
                    (click)="[addOrEditProductCateModal.show(), setFlag(1), edit(productCate)]" tooltip="Chỉnh sửa danh mục sản phẩm">
                    <i class="fa fa-edit fa-lg"></i>
                  </button>
              </td>
              <td class="w-1rem">
                <button type="button" class="btn btn-sm btn-danger" (click)="remove(productCate)" tooltip="Xóa danh mục sản phẩm">
                  <i class="fa fa-trash fa-lg"></i>
                </button>
              </td>
              <td>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" [id]="productCate.product_Cate_ID"
                    [(ngModel)]="productCate.checked" (change)="checkElement()">
                  <div class="state p-warning">
                    <i class="icon fa fa-check"></i>
                    <label class="custom-control-label" for="{{productCate.product_Cate_ID}}"></label>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="productCateAll.length === 0">
              <td colspan="100%" class="table-warning text-center font-weight-bold"> NO DATA! </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div id="pagination" *ngIf="pagination.totalPage > 1">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
        </pagination>
        <div id="itemRight">
          <!-- <div>
            Change Page: <input [(ngModel)]="curentPage" (keypress)="setPageCurrent()"/>
          </div> -->
          <p *ngIf="pagination.totalCount >= (pagination.pageSize * pagination.currentPage)">
            Showing {{pagination.pageSize * pagination.currentPage}} in {{pagination.totalCount}} items
          </p>
          <p *ngIf="pagination.totalCount < (pagination.pageSize * pagination.currentPage)">
            Showing {{pagination.totalCount}} in {{pagination.totalCount}} items
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
<div #addOrEditProductCateModal="bs-modal" bsModal class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form #addProductCateForm="ngForm">
        <div class="modal-header">
          <strong>{{flag === 0 ? 'New' : 'Edit'}} Product Category</strong>
          <button type="button" class="close pull-right" aria-label="Close"
            (click)="addOrEditProductCateModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Product Cate Name</label>
            <input type="text" class="form-control" name="Product_Cate_Name" required
              [(ngModel)]="productCate.product_Cate_Name">
          </div>
          <div class="form-group">
            <label>Position</label>
            <input type="number" class="form-control" name="position" required [(ngModel)]="productCate.position">
          </div>
          <div class="form-group">
            <label>Status</label>
            <input type="checkbox" style="margin-left: 10px;" name="status" [(ngModel)]="productCate.status">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addOrEditProductCateModal.hide()">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="[addOrEditProductCateModal.hide(), save()]"
            [disabled]="addProductCateForm.invalid">
            {{flag === 0 ? 'Add' : 'Save'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modals Import Excel -->
<div #importExcelModel="bs-modal" bsModal class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form #importExcel="ngForm">
        <div class="modal-header">
          <strong>Import Excel Product Category</strong>
          <button type="button" class="close pull-right" aria-label="Close"
            (click)="importExcelModel.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: red;">* Please select a file '.xlsx' or '.xlsm'
            <a href="javascript:;" (click)="downloadExcelTemplate()" tooltip="Tải file mẫu">follow this form here</a>
          </p>
          <div class="form-group">
            <div class="custom-file b-form-file">
              <label data-browse="Browse" class="custom-file-label">
                <p *ngIf="fileImportExcel === null">Choose a file...</p>
                <input id="input_uploadFile"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  type="file" (change)="onSelectFile($event)" style="line-height: 1 !important; outline: none;"
                  [ngClass]="(fileImportExcel !== null) ? 'opacity1' : 'opacity0'">
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="importExcelModel.hide()">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="[importExcelModel.hide(), import()]"
            [disabled]="fileImportExcel === null">
            Import
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Table print -->
<div class="table-print" id="dataTable" hidden>
  <table class="table table-bordered table-hover text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>ProductCate ID</th>
        <th>ProductCate Name</th>
        <th>Position</th>
        <th>Update By</th>
        <th>Update Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productCate of productCateAll; let i=index">
        <td>{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
        <td>{{ productCate.product_Cate_ID }}</td>
        <td>{{ productCate.product_Cate_Name}}</td>
        <td>{{ productCate.position }}</td>
        <td>{{ productCate.update_By }}</td>
        <td>{{ productCate.update_Time | date: 'MM/dd/yyyy, HH:mm:ss' }}</td>
        <td>
          <div class="pretty p-icon p-round p-jelly" *ngIf="productCate.status === true">
            <input type="checkbox" class="custom-control-input" [id]="productCate.product_Cate_ID" checked>
            <div class="state p-success">
              <i class="icon fa fa-check"></i>
              <label></label>
            </div>
          </div>
          <div class="pretty p-icon p-round p-jelly" *ngIf="productCate.status === false">
            <input type="checkbox" class="custom-control-input" [id]="productCate.product_Cate_ID">
            <div class="state p-success">
              <label class="none"></label>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>