<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row" style="align-items: center;">
        <div class="col-md-3 col-lg-2">
          <strong>Product List</strong>
        </div>
        <div class="col-md-none col-lg-3">
          <div action="" class="search-box">
            <input type="text" name="search" placeholder="Enter Product Data..." [(ngModel)]="text"
              (keyup)="getDataPaginations()">

            <button class="search-button" type="button" name="Tìm Kiếm">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6 col-lg-none">
          <input type="text" class="form-control" name="search" placeholder="Enter Product Data..." [(ngModel)]="text"
            (keyup)="getDataPaginations()">
        </div>
        <div class="col-lg-2 col-md-none p-0">
          <div class="select-list">
            <ng-select2 width="100%" [data]="productCateList" [(ngModel)]="productCateID" name="productCateList"
              (ngModelChange)="changeProductCateID($event)">
            </ng-select2>
          </div>
        </div>
        <div class="col-lg-2 col-md-none">
          <div class="select-list">
            <ng-select2 width="100%" [data]="productList" [(ngModel)]="product_Name" name="productList">
            </ng-select2>
          </div>
        </div>
        <div class="col-lg-1 col-md-none p-0">
          <button type="button" style="font-size: 12px;" class="btn btn-query1 btn-success" (click)="searchDataPaginations()">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
        <div class="col-md-3 col-lg-2">
          <!-- Button Add -->
          <button type="button" style="font-size: 12px;" class="btn btn-sm btn-primary float-right height34px" 
            (click)="addNew()" style="float: right;" tooltip="Thêm mới sản phẩm">
            <i class="fa fa-plus"></i> Add new
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="col-12" style="margin-bottom: 15px; padding: 0;">
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="exportExcel(1)" tooltip="Xuất file Excel">
          <i class="fa fa-file-excel-o"></i> ExportAspose
        </button>
        <button type="button" class="btn btn-sm btn-success mr-2" (click)="pdf()" tooltip="Xuất file PDF">
          <i class="fa fa-file-excel-o"></i> PDF
        </button>
        <button type="button" class="btn btn-sm btn-danger float-right" (click)="removeMulti()" tooltip="Xóa nhiều sản phẩm">
          <i class="fa fa-trash fa-lg"></i> Delete
        </button>
      </div>
      <!-- Product Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Cate ID</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>New</th>
              <th>Hot Sale</th>
              <th>Is Sale</th>
              <th>Update By</th>
              <th>Update Time</th>
              <th>Status</th>
              <th colspan="2">Action</th>
              <th>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" id="checkAll"
                    [(ngModel)]="checkboxAll" (change)="checkAll($event)">
                  <div class="state p-warning" id="custom">
                    <i class="icon fa fa-check"></i>
                    <label class="custom-control-label" for="checkAll"></label>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i=index">
              <td>{{ (pagination.currentPage - 1) * pagination.pageSize + i + 1 }}</td>
              <td>{{ product.product_Cate_ID }}</td>
              <td>{{ product.product_ID }}</td>
              <td>{{ product.product_Name}}</td>
              <td>{{ product.price }}</td>
              <td>
                <div class="pretty p-icon p-round p-jelly p-bigger">
                  <input type="checkbox" [id]="product.product_ID" [checked]="product.new" (change)="changeNew(product)"
                    name="product.new">
                  <div class="state p-danger">
                    <i class="icon fa fa-heart"></i>
                    <label></label>
                  </div>
                </div>
              </td>
              <td>
                <div class="pretty p-icon p-round p-jelly p-bigger">
                  <input type="checkbox" [id]="product.product_ID" [checked]="product.hot_Sale"
                    (change)="changeHotSale(product)" name="product.hot_Sale">
                    <div class="state p-danger">
                      <i class="icon fa fa-heart"></i>
                      <label></label>
                    </div>
                </div>
              </td>
              <td>
                <div class="pretty p-icon p-round p-jelly p-bigger">
                  <input type="checkbox" [id]="product.product_ID" [checked]="product.isSale"
                    (change)="changeIsSale(product)" name="product.isSale">
                    <div class="state p-danger">
                      <i class="icon fa fa-heart"></i>
                      <label></label>
                    </div>
                </div>
              </td>
              <td>{{ product.update_By }}</td>
              <td>{{ product.update_Time | date: 'MM/dd/yyyy, HH:mm:ss' }}</td>
              <td>
                <div class="pretty p-icon p-round p-jelly p-bigger">
                  <input type="checkbox" [id]="product.product_ID" [checked]="product.status"
                    (change)="changeStatus(product)" name="product.status">
                    <div class="state p-success">
                      <i class="icon fa fa-check"></i>
                      <label></label>
                    </div>
                </div>
              </td>
              <td class="w-1rem">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary" (click)="edit(product)" tooltip="Chỉnh sửa sản phẩm">
                    <i class="fa fa-edit fa-lg"></i>
                  </button>
                </div>
              </td>
              <td class="w-1rem">
                <button type="button" class="btn btn-sm btn-danger" (click)="remove(product)" tooltip="Xóa sản phẩm">
                  <i class="fa fa-trash fa-lg"></i>
                </button>
              </td>
              <td>
                <div class="pretty p-icon p-round p-jelly">
                  <input type="checkbox" class="custom-control-input" [id]="product.product_ID"
                    [(ngModel)]="product.checked" (change)="checkElement()">
                  <div class="state p-warning">
                    <i class="icon fa fa-check"></i>
                    <label class="custom-control-label" for="{{product.product_ID}}"></label>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngIf="productAll.length === 0">
              <td colspan="100%" class="table-warning text-center font-weight-bold"> NO DATA! </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <div id="pagination" *ngIf="pagination.totalPage > 1">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
        </pagination>
        <div id="itemRight">
          <p *ngIf="pagination.totalCount >= (pagination.pageSize * pagination.currentPage)">
            Showing {{pagination.pageSize * pagination.currentPage}} in {{pagination.totalCount}} items
          </p>
          <p *ngIf="pagination.totalCount < (pagination.pageSize * pagination.currentPage)">
            Showing {{pagination.totalCount}} in {{pagination.totalCount}} items
          </p>
        </div>
      </div>
    </div>
  </div>
</div>